<ion-content style="background-color: aliceblue;">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="Carousel" tab="carousel">
          <ion-icon name="images"></ion-icon>
          <ion-label>Carousel</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="Products" tab="products">
          <ion-icon name="pricetags"></ion-icon>
          <ion-label>Productos</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="Edit User" tab="user-edit">
          <ion-icon name="create"></ion-icon>
          <ion-label>Edicion de usuario</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="Notifications" tab="notifications">
          <ion-icon name="notifications"></ion-icon>
          <ion-label>Notifications</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs> 
</ion-content>

