<ion-header>
  <ion-toolbar color="light">
    <ion-title>Productos</ion-title>
    <ion-buttons slot="primary">
      <ion-button icon-right routerLink="/home" color="success">  
        <ion-icon name="exit-outline" > </ion-icon>  </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content style="text-align:center">
  <ion-card>
    <img src="https://ellafashion.com/images/content/digital-price-tag-on-garnment.jpg">
    <h1>Camisa Blanca </h1>
    <h2>Cuello tipo b</h2>
    <br>
  </ion-card> 
  <br>
  <ion-button (click)="QRBoton()" color="success"> Lector QR
    <ion-icon name="qr-code-outline"> </ion-icon>  </ion-button>
</ion-content>

