<ion-header>
  <ion-toolbar color="light">
    <ion-title>Notificaciones</ion-title>
    <ion-buttons slot="primary">
      <ion-button icon-right routerLink="/home" color="success">  
        <ion-icon name="exit-outline" > </ion-icon>  </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card> 
    <ion-searchbar></ion-searchbar>
    <ion-list>
  <ion-item>
    <ion-label>Tu pedido va en camino</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Tienes un cupón de 50%</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Articulos en oferta</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Compra cancelada con exito</ion-label>
  </ion-item>
</ion-list>
  </ion-card>
  
</ion-content>
